// $primary: rgb(0, 56, 107);
// $secondary: rgb(106, 173, 228);
// $secondary-transparent: rgba(106, 173, 228, 0.95);
// $secondary-dark: rgb(91, 103, 112);
// $secondary-light: rgb(234, 234, 234);
// $direct: rgb(152, 61, 97);
// $direct-transparent: rgba(152, 61, 97, 0.8);
// $navbar-primary: rgb(0, 56, 107);
// $slider: rgb(0, 56, 107);

//dst colours
// $primary: black;
// $secondary: rgb(81, 98, 111);
// $secondary-transparent: rgba(153, 154, 143, 0.95);
// $secondary-dark: rgb(91, 103, 112);
// $secondary-light: rgb(234, 234, 234);
// $direct: rgb(221, 72, 20);
// $direct-transparent: rgba(221, 72, 20, 0.8);
// $navbar-primary: rgb(81, 98, 111);
// $navbar-secondary: black;
// $slider: rgb(153, 154, 143);

//video game colours
$primary: black;
$secondary: rgb(118, 118, 118);
$secondary-transparent: rgba(192, 192, 192, 0.95);
$secondary-dark: rgb(91, 103, 112);
$secondary-light: rgb(234, 234, 234);
$direct: rgb(221, 72, 20);
$direct-transparent: rgba(221, 72, 20, 0.8);
$navbar-primary: rgb(63, 63, 63);
$navbar-secondary: black;
$slider: rgb(153, 154, 143);
$button-border: black;
$primary-dark: #909090;
$primary-darker: rgb(45, 45, 45);
$primary-dark-1: #8B8B8B;
$primary-green: #70A95D;
$primary-red: #D22525;