@font-face {
    font-family: 'press_start';
    src: url('../fonts/Press_Start_2P/PressStart2P-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'source_code';
    src: url('../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf')  format('truetype');
}