@import "colours";
@import "mixins";
@import "fonts";

* {
	padding: 0px;
	margin: 0px;
    font-family: "source_code";
}

body {
    background-color: $secondary-light;
}

a {
    text-decoration: none;
    color: initial;
}

#main {
	min-height: 100vh;
    background-color: $secondary-light;
    background-image:
            linear-gradient(
              $secondary-light, $secondary
        );

    &.noSelect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
    }

    .centreContainer {
        max-width: 400px;
        margin: 0 auto;
        position: relative;
    }
}

form {
    @include blue-background-box;

    input {
        width: 100%;
        height: 30px;
        margin: 5px 0px 5px 0px;
        border: 2px solid $primary;
        padding-left: 10px;
        font-size: 14px;
        outline: none;
        background-color: $secondary-light;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    button {
        margin-top: 10px;
        width: 100%;
        height: 25px;
        cursor: pointer;
        border: 1px solid $primary;
    }
}

.adminCollectionContainer {
    @include blue-background-box;
    font-size: 14px;
    padding: 20px;
    
    .adminCollectionHeader {
        font-weight: bold;
        margin-bottom: 7px;
    }

    .adminCollectionObject {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;

        input:read-only {
            background-color: $secondary-transparent;
        }

        input[type="file"] {
            visibility: hidden;
        }

        .name {
            border: none;
            outline: none;
            width: 50%;
            padding: 2px 4px 2px 4px;
        }

        .delete {
            float: right;
            cursor: pointer;
        }

        .updateImageContainer {
            width: 10px;
            height: 10px;
            border: 1px solid black;
            float: left;
            margin-top: 3px;
            margin-right: 5px;
            cursor: pointer;

            img {
                width: 10px;
                height: 10px;
                display: block;
            }
        }
    }
}

.linkBoxContainer {
    color: $primary;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid $primary;
    cursor: pointer;
    background-color: $secondary-transparent;
    word-wrap: break-word;

    &:hover {
        background-color: $secondary-light;
        @include animation-transition;
    }

    span{
        font-weight: bold;
        font-size: 14px;
    }
}

@media all and (max-width: 50em) {
    #main {
        padding: 20px;

        .centreContainer {
            padding: 20px;
        }
    }
}