@import "../colours";
@import "../mixins";

.onlineUser{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
	word-wrap: break-word;
}

.makeAdmin, .makeModerator, .assignPoints, .deleteUser{
	cursor: pointer;
}

.assignPointsContainer{
	margin-top: 10px;
}

.assignPointsContainer{
	display: none;
}

.adminManagementContainer {
	&.notActive {
		@include blue-background-box;
		cursor: pointer;
		margin-top: 10px;
	}
	
	&:hover {
		background-color: $secondary-light;
		@include animation-transition;
	}

	.adminManagementHeader {
		&.active {
			margin-bottom: 10px;
		}

		.adminManagementArrow {
			float: right;
		}
	}
}