@import "../colours";
@import "../mixins";

.onlineUser{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
	word-wrap: break-word;
}

.makeAdmin, .makeModerator, .assignPoints, .deleteUser{
	cursor: pointer;
}

.assignPointsContainer{
	margin-top: 10px;
}

.assignPointsContainer{
	display: none;
}

.adminManagementContainer {
	@include blue-background-box;
	cursor: pointer;
	margin-top: 10px;

	&:hover {
		@include animation-transition;
		background-color: $secondary-light;
	}

	&.active {
		@include blue-background-box;
		cursor: initial;

		.adminManagementHeader {
			margin-bottom: 10px;
			font-size: 18px;
			.adminManagementArrow {
				@include animation-transition;
				-ms-transform: rotate(90deg); /* IE 9 */
				-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
				transform: rotate(90deg);
			}
		}
	}
	
	.adminManagementHeader {
		cursor: pointer;
		.adminManagementArrow {
			float: right;
		}
	}
}