@import "../colours";
@import "../mixins";

.adminManagementContainer {
	@include blue-background-box;
	cursor: pointer;
	margin-top: 10px;

	&.canOpen {
		padding: 0px;
	}

	&:hover {
		@include animation-transition;
		background-color: $secondary-light;
	}

	&.active {
		@include blue-background-box;
		cursor: initial;

		.adminManagementHeader {
			margin-bottom: 10px;
			font-size: 18px;
			.adminManagementArrow {
				@include animation-transition;
				-ms-transform: rotate(90deg); /* IE 9 */
				-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
				transform: rotate(90deg);
			}
		}
	}

	form {
		margin-top: 0px;
		padding-top: 0px;
		border: none;
	}

	.onlineUser {
		margin-bottom: 10px;
		padding-bottom: 5px;
		border-bottom: 1px solid black;
		word-wrap: break-word;

		.makeAdmin, .makeModerator, .assignPoints, .deleteUser {
			cursor: pointer;
		}

		.assignPointsContainer {
			display: none;
			margin-top: 10px;
		}
	}
	
	.adminManagementHeader {
		cursor: pointer;
		padding: 10px;
		.adminManagementArrow {
			float: right;
		}
	}

	.adminManagementContent {
		padding: 0 10px;

		.adminCollectionObject {
		    margin-bottom: 10px;
		    padding-bottom: 10px;
		    border-bottom: 1px solid black;

		    input:read-only {
		        background-color: $secondary-transparent;
		    }

		    input[type="file"] {
		        visibility: hidden;
		    }

		    .name {
		        border: none;
		        outline: none;
		        width: 50%;
		        padding: 2px 4px 2px 4px;
		    }

		    .delete {
		        float: right;
		        cursor: pointer;
		    }

		    .updateImageContainer {
		        width: 10px;
		        height: 10px;
		        border: 1px solid black;
		        float: left;
		        margin-top: 3px;
		        margin-right: 5px;
		        cursor: pointer;

		        img {
		            width: 10px;
		            height: 10px;
		            display: block;
		        }
		    }
		}
	}
}