@import "../mixins";
@import "../colours";

.feedbackTypes{
    font-size: 14px;
    @include blue-background-box;
}

.feedbackType{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.deleteFeedbackType{
    cursor: pointer;
    float: right;
}