@import "../mixins";
@import "../colours";

.questions {
	@include blue-background-box;
	padding: 20px;
}

.editQuestionsContainer {
	font-size: 12px;
	text-align: right;
	margin-bottom: 10px;

	.editQuestions {
		cursor: pointer;
	}
}

.editQuestionHeader input:read-only, .editAnswers input:read-only, .editPoints input:read-only {
	background-color: $secondary-transparent;
}

.editQuestionHeader input, .editAnswers input, .editPoints input {
	background-color: $secondary-light;
	padding: 2px 4px 2px 4px;
	border: none;
	outline: none;
	@include animation-transition;
}

.editPoints input {
	width: 50px;
	text-overflow: ellipsis;
}

.questionText {
	width: 70%;
}

.editAnswers input {
	max-width: 70px;
}

.question {
	font-size: 14px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid black;
}

.questionHeader {
	font-weight: bold;
	margin-bottom: 5px;
}

.question > * {
	opacity: 0.3;
}

.question .questionDetails {
	font-size: 11px;
	text-align: right;
}

.questionSessionName {
	width: auto;
	text-align: right;
}

.questionAskOrder {
	width: 20px;
}

.adminControlOption {
	font-size: 15px;
	cursor: pointer;

	&:hover {
		opacity: 1;
		color: $primary-red;
		@include animation-transition;
	}
}

.question.activeQuestion > * {
	opacity: 1;
}

.question.alreadyAsked > * {
	color: $primary-red;
}

.pointsWorthContainer {
	margin-top: 10px;
}

.pointsWorthContainer, .optionEnabledContainer {
	font-size: 12px;
	text-align: right;
}

.startTimerSeconds {
	width: 35px;
	padding-left: 3px;
}

.questionRoomName {
	font-size: 11px;
}

.feedbackGood {
	color: #328C67;
}

.feedbackBad {
	color: rgb(152, 61, 97);
}